* {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.container-item-detail {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
}

.container_detail {
  width: 90%;
  height: auto;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.principal-img {
  /* width: 100%; */
  /* height: 80vh; */
  width: 100%;
  height: auto;
}

.selec-img {
  display: flex;
}

.img-option {
  min-width: 8rem;
  max-width: 10rem;
  cursor: pointer;
}

.detail-info {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}

.item_size {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  height: 2rem;

  && p {
    margin: auto;
  }

  && button {
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.item_cant {
  color: black;
  display: flex;
  height: auto;
  align-items: center;
  column-gap: 1rem;
}

.item_decrease,
.item_increase {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  font-weight: 500;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 50%;
}

.item_decrease:hover,
.item_increase:hover {
  background-color: lightgray;
}

.item_info {
  font-weight: 700;
}

.btn-add {
  padding: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selectedSize {
  background-color: black;
  color: white;
}

@media (max-width: 570px) {

  .detail-image {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .container_detail {
    flex-direction: column;
  }

  .detail-image {
    width: 100%;
  }

  .principal-img {
    width: 100%;
    max-width: 100%;
    height: fit-content;
  }
  .detail-info {
    height: auto;
    margin-top: 2rem;
  }
}